<div ng-controller="UsersCtrl as showCase">
    Below is <strong>fake data!</strong> To change that create a token on the <a target="_new" href="https://auth0.com/docs/api/v2#!/Users/get_users">auth0 api docs page</a> and enter it below.  Make sure you have the read:users scope enabled for the token.  Then click the "Load Data with Token" button.<br/>
    <label>auth0 token</label>
    <input type="text" ng-model="token" required="true"/><br/>
    <button ng-click="showCase.dtInstance.changeData(showCase.newPromise)" type="button">
        <i class="fa fa-exchange"></i>&nbsp;Load Data with Token
    </button>
    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" dt-instance="showCase.dtInstance" class="row-border hover"></table>
</div>
